<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Blog Details :</h1>
    <h2><%= blog.title %></h2>
    <h2><%= blog?.body %></h2>
    <h3><%= blog?.description %></h3>
    <button id="details-delete-btn" data-id="<%= blog?._id %>">Delete</button>

    <hr />
  </body>

  <script src="/script.js"></script>
</html>
