<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="blog-details-container">
      <h1>BLOG DETAILS :</h1>
      <h3>TITLE : <%= blog?.title.toUpperCase() %></h3>
      <h3>BODY : <%= blog?.body %></h3>
      <h3>DESCRIPTION : <%= blog?.description %></h3>
      <button class="remove-btn" data-id="<%= blog?._id %>">REMOVE</button>
    </div>
  </body>

  <script src="/script.js"></script>
</html>
