<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <h1 class="blogs-header">ALL BLOGS :</h1>

    <div class="blogs-container">

      <% blogs?.forEach((blog) => { %>
        <div class="blog-card">
          <div class="blog-content">
            <a href="/blogs/<%= blog._id %>">TITLE : <%= blog.title %></a>
            <p>BODY :&emsp;<%= blog.body %></p>
            <p>DESCRIPTION :&emsp; <%= blog.description %></p>
            <span><%= blog.createdAt.toString().split(" GMT")[0] %></span>
          </div>
          <button class="remove-btn" data-id="<%= blog?._id %>">REMOVE</button>
        </div>
      <% }) %>

    </div>

  </body>
  <script src="/script.js"></script>
</html>
